
<footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>Email: fjsholding@gmail.com</p>
          <p>Phone: 0614243723</p>
          <p>Location: 19 Fourth Avenue Prieska
            8940</p>
          <!-- Add any other contact information you want to display -->
        </div>
        <div class="col-md-4">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <!-- Add social media icons or links here -->
        </div>
      </div>
    </div>
  </footer>


</body>
</html>