<!-- error.ejs -->
<%- include("partials/header"); -%>

<section class="error-section">
    <div class="container">
        <h2 class="error-title">Oops, Something Went Wrong!</h2>
        <p class="error-message">We encountered an error while processing your request. Please try again later.</p>
    </div>
</section>

<%- include("partials/footer"); -%>
