<%- include("partials/header"); -%> 
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="hero-title">Welcome to FJS HOLDING</h1>
                    <p class="hero-description">The Supply of High-Quality Services and Products in Commercial and Industrial Spaces</p>
                    <a href="/services" class="btn btn-outline-primary">Explore Our Services</a>
                </div>
                <div class="col-md-6">
                    <!-- Replace the URL with the path to your hero image -->
                    <img src="images/constructionWood.png" alt="Hero Image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- End of Hero Section -->

    <!-- About Us Section -->
    <section class="about-us-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="about-title">About Us</h2>
                    <p class="about-description">
                        FJS Holding is a civil engineering and construction company
                        dedicated to providing high-quality services and products in the commercial
                        and industrial sectors. We take pride in delivering
                        innovative solutions and exceptional results for our clients at affordable prices.
                    </p>
                </div>
                <div class="col-md-6">
                    <!-- Add an image or illustration here -->
                    <img src="images/design.png" alt="About Us Image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Us Section -->

<!-- index.ejs -->
<body>
    <!-- Hero Section ... -->

    <!-- About Us Section ... -->

    <!-- Services Section -->
    <section class="services-section">
        <div class="container">
            <h2 class="services-section-title">Our Services</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item">
                        <!-- Add an icon or image representing the service -->
                        <img src="images/service1.png" alt="Service 1" class="service-icon">
                        <h3 class="service-title">Project Management</h3>
                        <p class="service-description">
                            Providing professional project management services to oversee construction projects.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <!-- Add an icon or image representing the service -->
                        <img src="images/electronics.jpeg" alt="Service 2" class="service-icon">
                        <h3 class="service-title">Engineering Services</h3>
                        <p class="service-description">
                            Providing engineering expertise for structural, civil, electrical, and mechanical aspects of projects.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <!-- Add an icon or image representing the service -->
                        <img src="images/tools.avif" alt="Service 3" class="service-icon">
                        <h3 class="service-title">Construction Materials</h3>
                        <p class="service-description">
                            Offering construction materials like cement, concrete, steel, and lumber.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Services Section -->


<!-- Project Showcase Section -->
<section class="project-showcase-section">
    <div class="container">
        <h2 class="project-showcase-section-title">Project Showcase</h2>
        <h2 class="project-section-title">Bund Wall and Oil Storage Facility Construction</h2>
        <div class="project-gallery">
            <div class="project-image">
                <img src="images/bundwall1.jpeg" alt="Project 1">
            </div>
            <div class="project-image">
                <img src="images/bundwall2.jpeg" alt="Project 2">
            </div>
            <div class="project-image">
                <img src="images/bundwall3.jpeg" alt="Project 3">
            </div>
            <div class="project-image">
                <img src="images/bundwall4.jpeg" alt="Project 4">
            </div>
        </div>
    </div>
</section>
<!-- End of Project Showcase Section -->

<!-- Client Testimonials Section -->
<!-- <section class="client-testimonials-section">
    <div class="container">
        <h2 class="section-title">Client Testimonials</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial-card">
                    <img src="images/client1.jpg" alt="Client 1" class="client-image">
                    <p class="testimonial-text">
                        "Testimonial from Client 1. Share their positive experience with your
                        company and services."
                    </p>
                    <h3 class="client-name">John Doe</h3>
                    <p class="client-designation">CEO, Company A</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-card">
                    <img src="images/client2.jpg" alt="Client 2" class="client-image">
                    <p class="testimonial-text">
                        "Testimonial from Client 2. Highlight the results and benefits they
                        achieved by working with your company."
                    </p>
                    <h3 class="client-name">Jane Smith</h3>
                    <p class="client-designation">CFO, Company B</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-card">
                    <img src="images/client3.jpg" alt="Client 3" class="client-image">
                    <p class="testimonial-text">
                        "Testimonial from Client 3. Showcase how your company's services have
                        made a positive impact on their business."
                    </p>
                    <h3 class="client-name">Mike Johnson</h3>
                    <p class="client-designation">COO, Company C</p>
                </div>
            </div>
            Add more testimonial cards as needed 
        </div>
    </div>
</section> -->
<!-- End of Client Testimonials Section -->

<!-- Contact Form and CTA Section -->
<section class="contact-cta-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <h2 class="cta-section-title">Contact Us</h2>
                    <!-- Add contact form here -->
                    <form action="/submit_contact" method="POST">
                        <div class="form-group">
                            <label for="" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name">
                            <label for="" class="form-label">Email Address</label>
                            <input type="email" name="email" class="form-control" placeholder="Email">
                            <label for="" class="form-label">Phone</label>
                            <input type="tel" name="phone" class="form-control" placeholder="Phone (Optional)">
                            <label for="" class="form-label">Message</label>
                            <textarea class="form-control" rows=5 cols=30 name="message" placeholder="Message"></textarea>
                        </div>
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cta">
                    <h2 class="cta-section-title">Ready to Reach Out??</h2>
                    <p class="cta-description">
                        Get in touch with us today to discuss your project and requirements.
                    </p>
                    <a href="/contact" class="btn btn-outline-primary">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Contact Form and CTA Section -->

<!-- Company Values and Mission Section -->
<section class="values-mission-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="company-values">
                    <h2 class="mission-section-title">Our Values</h2>
                    <ul>
                        <li>Quality Craftsmanship:: We are committed to delivering the highest quality craftsmanship in every project we undertake. Our attention to detail, skilled workforce, and dedication to using the finest materials ensure that each project is executed with precision and excellence.</li>
                        <li>Client-Centric Approach: Our clients are at the heart of everything we do. We prioritize effective communication, transparent project management, and a personalized approach to ensure that our clients' visions are realized. We believe in building strong relationships and exceeding expectations.</li>
                        <li>Innovation and Sustainability: Embracing innovation and sustainable practices is integral to our philosophy. We strive to incorporate cutting-edge technologies, sustainable materials, and environmentally conscious design principles into our projects. Our commitment to innovation ensures that we create spaces that stand the test of time.</li>
                        <!-- Add more company values as needed -->
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="company-mission">
                    <h2 class="mission-section-title">Our Mission</h2>
                    <p class="mission-text">
                        Our mission is to provide high quality products and services to leave our customers with great satisfaction.
We offer high quality Civil, Electrical/Electronic, Mechanical works as well as supply of tools and equipment in the above-mentioned fields.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Company Values and Mission Section -->





<%- include ("partials/footer"); -%>

<!-- JavaScript for the Navbar Fade Effect -->
<script>
    window.addEventListener('scroll', () => {
        const navbar = document.querySelector('.navbar');
        const scrolled = window.scrollY > 100; /* Adjust the scroll threshold as needed */

        if (scrolled) {
            navbar.classList.add('navbar-fade');
        } else {
            navbar.classList.remove('navbar-fade');
        }
    });
</script>
