<%- include("partials/header"); -%>

<section class="thank-you-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="thank-you-message">
                    <h2 class="thank-you-title">Thank You!</h2>
                    <p class="thank-you-description">Your message has been successfully submitted.</p>
                    <p class="thank-you-description">We will get back to you as soon as possible.</p>
                    <a href="/" class="btn btn-outline-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ("partials/footer"); -%>
